/* Leave Button */
.leaveButton{
    width: var(--main-width);
    border-radius: var(--border-radius);
    border: none;
    padding: 10px 0;
    font-size: var(--font-medium);
    font-family: "JetBrains Mono";
    margin: 20px 0;
    background-color: rgb(255, 72, 72);
    box-shadow: var(--box-shadow);
}

.leaveButton:hover,
.leaveButton:active {
    cursor: pointer;
    background-color: rgb(246, 51, 51);
}

/* Game Header */
.playerHeader {
    background-color: var(--main-color-secondary);
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    box-shadow: var(--box-shadow);
    position: sticky;
    top: 0;
}

.playerHeadline {
    font-size: var(--font-medium);
    margin: 0;
}

@media (min-width: 800px) {
    .leaveButton{
        width: 40%;
    }

    .playerHeadline,
    .playerInfoHeadline {
        font-size: var(--font-big);
    }
}

@media (min-width: 1200px) {
    .leaveButton{
        width: 25%;
    }
}