.correctAnswerContainer {
    width: 100%;
    margin: auto;
    margin-top: 20px;
}

.correctAnswer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.correctAnswer .answer {
    font-size: var(--font-big);
    margin: 20px 10px;
}

.nextRoundButton {
    width: var(--main-width);
    border-style: none;
    border-radius: var(--border-radius);
    padding: 10px 0;
    background-color: var(--highlight-color-primary);
    font-size: var(--font-medium);
    font-family: "JetBrains Mono";
    margin-bottom: 20px;
    box-shadow: var(--box-shadow);
}

.playerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.outerPlayerCard {
    width: 90%;
    background-color: var(--main-color-secondary);
    display: flex;
    justify-content: center;
    border-radius: var(--border-radius);
    margin: 15px 0;
}

.playerCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    margin: 20px 0;
}

.playerName {
    margin: 0;
    width: 100%;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    text-align: start;
}

.playerBalance {
    background-color: yellow;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}

.playerBalance h3 {
    margin: 10px 35px;
    color: black;
    font-size: var(--font-medium);
}

.playerGuessHeadline {
    margin-bottom: 0;
}

.playerGuess {
    width: 100%;
    background-color: white;
    border-radius: var(--border-radius);
    margin-bottom: 15px;
}

.playerGuess h3 {
    margin: 0;
    color: black;
    text-align: start;
    overflow: hidden;
    padding: 15px 20px;
    text-overflow: ellipsis;
    text-wrap: nowrap;
}

.nextRoundButton:hover{
    cursor: pointer;
    background-color: var(--highlight-color-secondary);
}

.correctCheckboxLabel {
    display: block;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--highlight-color-primary);
    color: black;
    font-size: var(--font-medium);
    border-radius: var(--border-radius);
}

.correctCheckboxLabel:hover {
    cursor: pointer;
}

.correctCheckboxText {
    margin: 12px 10px;
}

.correctCheckboxLabel input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
    height: 40px;
    width: 40px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.correctCheckboxLabel:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .correctCheckboxLabel input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .correctCheckboxLabel .checkmark:after {
    left: 50%;
    top: 40%;
    width: 10px;
    height: 20px;
    border: solid black;
    border-width: 0 5px 5px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
  }

@media (min-width: 800px) {
    .playerContainer {
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .nextRoundButton{
        width: 40%;
    }

    .outerPlayerCard {
        width: 45%;
    }
}

@media (min-width: 1000px) {
    .outerPlayerCard {
        width: 30%;
    }
}

@media (min-width: 1200px) {
    .nextRoundButton{
        width: 25%;
    }
}

@media (min-width: 1800px) {
    .outerPlayerCard {
        width: 23%;
    }
}